<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="project/common/base :: common_header(~{::title}, ~{::link})">
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
    <!-- Content here -->
    <div th:replace="project/common/navbar :: navbar"></div>

    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:50vh">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h3>환영합니다.</h3>
                    </div>
                    <div class="card-body">
                        <form action="" autocomplete="off">
                            <div class="form-group">
                                <input type="text" class="form-control" name="username" placeholder="ID를 입력하세요.">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="비밀번호를 입력하세요.">
                            </div>
                            <button type="button" id="loginBtn" class="btn btn-primary">로그인</button>
                            <button type="button" id="joinBtn" class="btn btn-warning">회원가입</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">

        $(document).ready(function(){

            /*로그인 버튼 클릭*/
            $("#joinBtn").click(function(e){
                location.href="/member/join";
            });
        });

    </script>


</body>
</html>